.header{
    background: #FFFFFF;
}
.container{
    width: 95%;
    margin: auto;
}
.header-top{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(30,46,54,0.6);
}
.header-top__wrapper{
    display: flex;
}
.header-top__social-links-wrapper{
    display: flex;
    align-items: center;
}
.header-top__social-links-title{
    display: flex;
    align-items: center;
}
.header-top__social-links-title span{
    display: block;
}
.header-top__social-links-wrapper{
    display: flex;
    align-items: center;
    margin-right: 55px;
}
.header-top__phone-wrapper{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-top__phone-wrapper img:first-child{
    margin-right: 10px;
}
.header-top__phone-wrapper a{
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: #1E2E36;
}
.header-top__nav{
    display: flex;
    align-items: center;
}
.header-top__nav ul{
    display: flex;
}
.header-top__nav li{
    position: relative;
    list-style-type: none;
    margin-right: 15px;
}
.header-top__nav li a{
    text-decoration: none;
    color: #1E2E36;
}
.header-top__nav li:last-child{
    margin-right: 0px;
}
.header-top__nav li a::before{
    background-color: #44C697;
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
}
.header-top__nav li a::before{
    width: 0%;
    bottom: 0px;
}
.header-top__nav li:first-child a::before{
    width: 100%;
}
.header-top__nav li a:hover::before{
    width: 100%;
}


.header-bottom{
    display: flex;
    align-items: center;
    height: 105px;
}
.header-bottom__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom__nav ul{
    list-style-type: none;
    display: flex;
}
.header-bottom__nav ul li{
    margin-right: 17px;
}
.header-bottom__nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #1E2E36;
}
.header-bottom__nav ul li:hover a{
    color: #44C697;
}
.header-bottom__nav ul li:hover svg{
    stroke: #44C697;
}
.header-bottom__purchase-wrapper{
    display: flex;
    align-items: center;
}
.header-bottom__basket{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1E2E36;
    margin-right: 30px;
}
.header-bottom__basket img{
    margin-right: 5px;
}
.header-bottom__btn-call{
    padding: 14px 46px;
    border: none;
    background-color: #44C697;
    color: #FFFFFF;
    border-radius: 3px;
}
.main-slider__block{
    background-image: url(./images/slider/slider-bg.svg);
    position: relative;
    width: 100%;
    height: 785px;
    margin-bottom: 100px;
}
.main-slider__info{
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    top: 0px;
    left: 51px;
    width: 462px;
    height: 670px;
}
.main-slider__info-line{
    background-color: #44C697;
    height: auto;
    padding: 0px 8px;
}
.main-slider__info-block{
    padding: 99px 0px 101px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-slider__info-block h1{
    margin-bottom: 50px;
}
.main-slider__info-block h5{
    margin-bottom: 10px;
}
.main-slider__info-block p{
    text-align: center;
    margin-bottom: 30px;
}
.main-slider__info-block button{
    border: none;
    background: #44C697;
    border-radius: 3px;
    padding: 14px 46px;
    height: 51px;
    width: 209px;
    margin-bottom: 50px;
    color: #FFFFFF;
}
.main-slider__count{
    text-align: center;
    color: #1E2E36;
    margin-bottom: 5px;
}
.main-slider__slide-control{
    width: 100%;
}
.main-slider__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-slider__btn a:first-child{
    margin-right: 8px;
}
.benefits__wrapper{
    margin-bottom: 100px;
}
.section__title{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 52px;
}
.section__title::before{
    background-color: #44C697;
    height: 50px;
    width: 20px;
    content: " ";
    position: absolute;
    z-index: -1;
}
.benefits__slider{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.benefits__slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 30px 30px;
    border-radius: 3px;
    width: 32%;
    height: 350px;
}
.benefits__slide:nth-child(2){
    background-image: url(./images/small-slider/slider_img1.svg);
}
.benefits__slide:nth-child(3){
    background-image: url(./images/small-slider/slider_img2.svg);
}
.benefits__slide:nth-child(4){
    background-image: url(./images/small-slider/slider_img3.svg);
}
.benefits__slider button{
    position: absolute;
    border: none;
    background: inherit;
}
.benefits__left-btn{
    left: 0px;
    top: 45%;
}
.benefits__right-btn{
    right: 0px;
    top: 45%;
}
.benefits__slide h5{
    height: 45px;
    color: #FFFFFF;
    border-bottom: 3px solid #44C697;
}
.benefits__slide p{
    width: 100%;
    color: #FFFFFF;
    padding-top: 15px;
}
.benefits__slide-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.categories{
    margin-bottom: 100px;
}
.categories__nav{
    margin-bottom: 87px;
}
.categories__nav ul{
    display: flex;
    justify-content: space-around;
}
.categories__nav ul li a{
    position: relative;
    display: grid;
    color: #1E2E36;
    text-decoration: none;
    text-align: center;
}
.categories__nav ul li a::before{
    background-color: #44C697;
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
}
.categories__nav ul li a::before{
    width: 0%;
    bottom: 0px;
}
.categories__nav ul li:nth-child(2) a::before{
    width: 100%;
}
.categories__nav ul li a:hover::before{
    width: 100%;
}
.categories__nav ul li a img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.categories__sales-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories__sales-list li{
    position: relative;
    margin-bottom: 50px;
}
.categories__sales-list li a{
    width: 100%;
    text-decoration: none;
    color: #1E2E36;
}
.categories__sales-list li a img{
    max-width: 100%;
    height: auto;
}
.categories__new-block{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 25%;
    height: 33px;
    background: #1E2E36;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories__hit-sale-block{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30%;
    height: 33px;
    background: #1E2E36;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories__action-block{
    position: absolute;
    top: 48px;
    left: 0px;
    width: 15%;
    height: 33px;
    background: #FF1B1B;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories__sales-list li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    transition: transform 0.25s;
}
.categories__sales-list li:hover{
    transform: scale(1.1);
}
.categories__sale-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 15px;
}
.categories__sales-list li:hover .categories__sale-block{
    color: #FFFFFF;
    background-color: #44C697;
}
.categories__price span{
    text-decoration: line-through;
    color: #BCBDBB;
}
.categories__btn-wrapper{
    display: flex;
    justify-content: center;
}
.catalog-btn{
    background-color: #44C697;
    border-radius: 3px;
    width: 190px;
    height: 51px;
    color: #FFFFFF;
    border: none;
}

.about__wrapper{
    margin-bottom: 100px;
}
.about__text-block{
    background-color:#FFFFFF;
    width: 791px;
    height: 475px;
    padding: 50px 30px;
}
.about__text-block p span{
    color: #44C697;
}
.about__text-block p{
    margin-bottom: 15px;
}
.about__text-block p:last-child{
margin-bottom: 0px;
}
.about__bg-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 675px;
    background-image: url(./images/about-bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.about__line{
    height: 475px;
    width: 15px;
    background-color: #44C697;
    border-radius: 0px 3px 3px 0px;
}

.questions__wrapper{
    margin-bottom: 109px;
}
.questions__form-block{
    width: 513px;
    height: 457px;
    background: #FFFFFF;
    padding: 50px 30px;
}
.questions__form-block h6{
    color: #1E2E36;
    margin-bottom: 30px;
}
.questions__form-block input{
    padding: 15px 15px;
    width: 432px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #1E2E36;
    border-radius: 3px;
    color: #1E2E36;
    margin-bottom: 15px;
}
.questions__form-block button{
    border: none;
    width: 432px;
    height: 51px;
    background: #44C697;
    border-radius: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.questions__form-block p{
    color: #1E2E36;
}
.questions__bg-block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 675px;
    background-image: url(./images/questions-bg.svg);
    background-repeat: no-repeat;
    background-position: left top;
}
.questions__line{
    width: 15px;
    height: 457px;
    background-color: #44C697;
    border-radius: 3px 0px 0px 3px;
}

.footer__wrapper{
    display: flex;
}
.footer__info{
    background-COLOR: #1E2E36;
    padding: 50px 55px 15px 50px ;
}
.footer__info{
    width: 43%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
}
.footer__img{
    width: 57%;
    max-width: 100%;
    height: auto;
    background-image: url(./images/footer-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__logo{
    margin-bottom: 50px;
}
.footer__info-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__info-wrapper ul{
    margin-right: 50px;
}
.footer__info-wrapper ul:last-child{
    margin-right: 0px;
}
.footer__info-wrapper ul li{
    margin-bottom: 15px;
}
.footer__info-wrapper ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__info-wrapper ul li a span{
    color: #44C697;
}
.footer__info-wrapper ul li a:hover{
    color:#44C697
}
.footer__info-wrapper ul li a svg{
    margin-right: 5px;
}
.footer__info-wrapper ul li a:hover svg{
    stroke: #44C697;
}
.footer__info-wrapper ul .footer__feedback-number a{
    color: #44C697;
}
.footer__info-wrapper ul .footer__feedback-number{
    margin-bottom: 30px;
}
.footer__social-links-title{
    color: #FFFFFF;
}
.footer__social-links{
    display: flex;
}
.footer__copyright-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__copyright{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.footer__company-name{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}